/**********  version 4  **********/
/**********  VARIABLES  **********/
:root {
  --default-color: rgb(178, 34, 34);
  --default-bg-color: rgb(233, 176, 176);
  --form-placeholder-color: rgb(180, 34, 34);

  --header-font-color: rgb(242, 242, 233);
  --header-hover-color: rgb(217, 204, 20);

  --hamburger-color: rgba(219, 194, 52, 0.575);
  --modal-bg-color: rgba(34, 34, 34, 0.65);
  --modal-menu-color: rgba(156, 60, 77, 0.75);

  --bs-font-sans-serif: Verdana, Geneva, Tahoma, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: normal;
  --bs-body-line-height: normal;
}
/**********  RESET - CSS  **********/
*,
*::after,
*::before {
  padding: 0;
  margin: 0; /*  */
  box-sizing: border-box;
}

body {
  font-size: var(--bs-body-font-size);
  font-family: var(--bs-font-sans-serif);
  color: var(--default-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--default-bg-color);
}
main {
  flex-grow: 1;
}

/********************************  GENERAL STYLE  ********************************/
/**********  Logo  **********/
.main-logo {
  text-align: center;
  padding-bottom: 15px;
  background: var(--default-bg-color); /* fallback old browsers */
  background: -webkit-linear-gradient(to top, #000000, #e74c3c, #000000);
  background: linear-gradient(to top, #000000, #e74c3c, #000000);
}
.logotype {
  width: 90%;
  height: 90%;
  padding-top: 2rem;
}

.title {
  font-size: 1rem;
}

/**********  Navigation menu  **********/
.header {
  padding: 0.25rem 0;
  width: 100%;
  margin-bottom: 0.25rem;
  height: 4.5rem;
  text-align: center;
  position: sticky;
  z-index: 998;
  top: 0;
  background: linear-gradient(to top, #e74c3c, #000000);
}

.logo {
  max-width: 100%; /* 25% */
  height: 100%;
  margin: 0 0.5rem;
}

/**********  Footer  **********/
.footer-style {
  margin-top: 2rem;
  text-align: center;
  height: 5rem;
  background: var(--default-bg-color);
  background: -webkit-linear-gradient(to top, #e74c3c, #000000);
  background: linear-gradient(to bottom, #e74c3c, #000000);
}
.copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  font-size: xx-small;
  color: var(--header-font-color);
  justify-content: center;
}
.copyright-item {
  margin-right: 0.25rem;
  text-align: center;
}

/**********  Social Networks  **********/
.fab {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px 0 0;
  border-radius: 50%;
}
.fab:hover {
  opacity: 0.7;
}

.fa-whatsapp {
  color: rgb(18, 140, 126);
}
.fa-instagram {
  background-image: linear-gradient(#405de6, #833ab4, #fd1d1d, #ffdc80);
  background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/********************************  CONTENT  ********************************/
/*****************  INDEX  *****************/

.invisible-logo {
  opacity: 0;
  transform: scale(0);
  transition: transform 1s ease-in-out, opacity 2s ease;
}
.visible-logo {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s ease-in-out, opacity 2s ease;
}

/*****************  PICTURE GALLERY  *****************/

/*****************  ABOUT US  *****************/
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
  /* border: thin solid #greenyellow; */
}
.flex-item {
  flex: 0 0 auto;
  text-align: center;
  align-content: center;
  justify-content: center;
  /* border: thin solid greenyellow; */
}

/**********  Image  **********/
.photo {
  max-width: 80%;
  height: auto;
  margin: 0 1rem;
  border-radius: 2rem;
}
/**********  Texts  **********/
.look-main {
  margin: 1em;
}
article p {
  margin: 1em;
  text-align: justify;
}

.center {
  text-align: center;
}

/*****************  CONTACT US  *****************/
legend {
  font-size: var(--bs-body-font-size);
}

.look-contact {
  font-size: 1.5rem;
  font-weight: bold;
}

.none {
  visibility: hidden;
}
.contact-form-status {
  padding-top: 1rem;
}

/**********  Contact Form  **********/
.contact-form > * {
  caret-color: var(--form-placeholder-color);
}
.contact-form textarea {
  resize: none;
}
.contact-form input[type="submit"] {
  width: 40%;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background-color: var(--default-color);
}
.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

/**********  Hamburgers design at Jonathan Suh  **********/
/***  @site https://jonsuh.com/hamburgers  ***/

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/**********  Emphatic Reverse  **********/
.hamburger--emphatic-r {
  overflow: hidden;
}
.hamburger--emphatic-r .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger--emphatic-r.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger--emphatic-r.is-active .hamburger-inner::before {
  left: -80px;
  top: 80px;
  transform: translate3d(80px, -80px, 0) rotate(-45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger--emphatic-r.is-active .hamburger-inner::after {
  right: -80px;
  top: 80px;
  transform: translate3d(-80px, -80px, 0) rotate(45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/**********  Hamburger Button  **********/

.hambur-btn {
  position: fixed;
  z-index: 1000;
  bottom: 3vh;
  right: 2vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hamburger-color);
}

.modal-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--modal-bg-color);
  transition: transform 0.3s ease, opacity 0.5s ease;
  transform: translate(-100%, 0%);
}

.modal-menu.is-active {
  transform: translate(0, 0);
}
.menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu a {
  padding: 2rem;
  width: 100%;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--header-font-color);
  transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
}
.menu ul {
  padding: 0;
  list-style-type: none;
}
.menu a:hover {
  font-weight: bold;
  color: var(--header-hover-color);
  background-color: var(--modal-menu-color);
}

/***************  Slider  ******************/
.slides-container {
  position: relative;
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  background: radial-gradient(#e74c3c, #000000);
}

.slider {
  position: relative;
  height: 500px; /*Original - esta bien*/
  /* height: 80vh; */
  border: thick solid var(--header-font-color);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slides img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  object-position: 50% 50%;
}

.slides.active {
  opacity: 1;
  visibility: visible;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--header-font-color);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  text-decoration: none;
}

.prev {
  left: 0;
  border-radius: 0 10px 10px 0;
}
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.prev:hover,
.next:hover {
  background-color: var(--modal-bg-color);
}

/********************************  MOTION  ********************************/
@keyframes rebounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

.animate-1 {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  animation-name: rebounce;
  transform-origin: center bottom;
}

@keyframes leftToCenter {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate-2 {
  animation-delay: 2.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: leftToCenter;
}

/********************************  RESPONSIVE  ********************************/
@media screen and (min-width: 576px) {
  .title {
    font-size: 1.5rem;
  }
}

/**********  > 992px  **********/
@media screen and (min-width: 992px) {
  .title {
    font-size: 2rem;
  }
  .hambur-btn {
    visibility: hidden;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .modal-menu {
    position: sticky;
    background-color: transparent;
    transform: none;
  }
  .menu {
    display: flex;
    flex-flow: row;
    height: 4rem;
    justify-content: flex-start;
    align-items: center;
  }
  .menu ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .menu a {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease,
      font-weight 0.3s ease;
  }
  .menu a:hover {
    background-color: transparent;
  }

  /** flex **/
  .flex-container {
    flex-direction: row;
    margin-top: 2rem;
  }
  .flex-item {
    flex: 0 0 50%;
    /* border: thin solid blue; */
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
  }

  .contact-form input[type="submit"] {
    width: 20%;
    /* border: thin solid blue; */
  }
}

/* @media (min-width: 1200px) {
  .header {
    height: 5.5rem;

  }
  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .header {
    height: 5.5rem;

  }
  .title {
    font-size: 3rem;
  }
}
 */

/* */
