:root {
  --defaul-color: rgb(178, 34, 34);
  --default-bg-color: rgb(233, 176, 176);
}
/****** Reinicio Css ******/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /*   width: 100%;
  height: 100%;
  margin: 0.5%;
  padding: 0; */
  background-color: var(--default-bg-color);
  color: var(--defaul-color);
}
main {
  flex-grow: 1;
}

/********* imagen logo *********/
.main-logo {
  text-align: center;
  padding-bottom: 15px;
}
.logotype {
  width: 90%;
  height: 90%;
  padding-top: 2rem;
}

/*********   Menu navegacion  *********/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: sticky;
  /* z-index: 1000; */
  top: 0;
}
.header-style {
  padding: 1rem;
  background-color: mistyrose;
  /*   width: 100%;
  height: 30px; /* revisar */
}
.menu ul {
  list-style-type: none;
}

.footer-style {
  padding-bottom: 0.5rem;
  text-align: center;
  /* background-color: mistyrose; */
  /*   width: 100%;
  height: 30px; /* revisar */
  /* border: thin solid #222; */
}

/******* Formato Contenido  *******/
/******* image  *******/
.photo {
  max-width: 95%;
  height: auto;
  margin: 0 1em;
}

/******  textos  ******/
.look-main {
  /* line-height: 1.2; */
  margin: 1em;
}
p {
  margin: 1em;
  text-align: justify;
}
.center {
  text-align: center;
}

/****** Responsive *****/
@media screen and (min-width: 992px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul {
    display: flex;
  }
  .menu li {
    padding: 0.5rem;
  }
  .flex-container {
    display: flex;
    align-items: center;
  }
  .flex-item {
    flex: 0 0 50%;
    padding-left: 0.5vw;
    text-align: center;
    /* border: thin solid #222; */
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
}

/****** RRSS ******/
.fab {
  padding: 3px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-whatsapp {
  color: rgb(18, 140, 126);
}

.fa-instagram {
  background-image: linear-gradient(45deg, magenta, yellow);
  background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /*  color: rgb(88, 81, 219); */
}
